body {
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 16px;
}

.btn {
    border-radius: 10px;
}

#quizBox h4 {
    font-size: 22px;
    font-weight: bold;
}

.option-btn {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}